.language-picker {
  display: flex;
  margin-right: 10px;
  margin-top: 5px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.field-language {
  width: 100px;
}


mat-select .mat-select-arrow {
  border: 0 !important;
  display: none;
}

app-menu.mat-form-field-flex {
  background-color: rgba(28, 30, 40, 0) !important;
}

